@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500;600;700;900&family=Quicksand:wght@300;400;500;600;700&display=swap');


/* Universal Styles */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f5f5f5;
}

main {
    padding: 34px;
}

h1 {
    font-size: 46px;
    font-weight: 500;
    padding: 1rem 0 .5rem;
}

h2 {
    font-size: 30px;
    padding: 1rem 0 .5rem;
    font-weight: 500;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

strong {
    font-weight: 700;
}

img {
    height: 300px;
}

section {
    margin: 5rem 0;
}

/* Navigation */
.mobile {
    display: none;
}

#navigation-background {
    position: absolute;
    height: 100px;
    width: 100%;
    z-index: -1;
}

.navbar {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #363062;
}

#nav-list {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.nav-item {
    display: flexbox;
    align-items: center;
    font-size: 18px;
}

.nav-item a {
    color: #f5f5f5;
    padding-bottom: 5px;
    background-image: linear-gradient(#363062, #363062), linear-gradient(#f5f5f5, #f5f5f5);
    background-size: 100% 2px, 100% 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat, no-repeat;
    transition: background-size .4s linear;
}

#desktopnav-logo a {
    background-image: none;
}

.nav-item a:hover {
    background-size: 0 2px, 100% 2px;
}

img#desktop-nav-logo {
    height: 50px;
    padding: 0, 5px;
    margin-top: -13px;
}

#mobile-nav-logo img {
    height: 50px;
    padding: 0, 5px;
    margin-top: -13px;
}

nav.mobile {
    display: flex;
    justify-content: space-between;
}

.hamburger {
    display: none;
    margin-right: 3rem;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #f5f5f5;
    border-radius: 20px;

}

@media only screen and (max-width: 678px) {
    .desktop {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    #nav-list {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #363062;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0, 05);
    }

    #nav-list.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(8px) rotate(-45deg);
    }

    .hamburger.active {
        align-items: center;
    }
}




/* Header */
header {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#introduction {
    text-align: right;
    padding: 1rem;
}

#introduction h2 {
    padding: 0;
}

#introduction button {
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    border: 2px solid #f99417;
    border-radius: 1rem;
    font-size: 16px;
    font-family: inherit;
    font-weight: 700;
    color: black;
    background-image: linear-gradient(#f99417, #f99417), linear-gradient(#f5f5f5, #f5f5f5);
    background-size: 100% 100%, 100% 100%;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat, no-repeat;
    transition: background-size .4s linear;
}

#introduction button:hover {
    background-size: 0 100%, 100% 100%;
    cursor: pointer;
}

#divider {
    border: 3px solid black;
    height: 10rem;
    border-radius: 10rem;
    width: 0px;
    margin: auto;
}

#welcome {
    padding: 1rem;
    width: 50%;
    min-width: 400px;
    line-height: 2;
}

@media only screen and (max-width: 830px) {
    header {
        flex-direction: column;
    }

    #divider {
        height: 0px;
        width: 50%;
        margin: 2rem 0;
    }

    #introduction {
        text-align: center;
    }

    #introduction h1,
    h2 {
        padding: 1em 0;
    }

    #welcome {
        text-align: center;
    }

    #introduction button {
        margin-top: 5rem;
    }
}


/* Development Process */

#development-process-section {
    text-align: center;
}

#development-process-section h2 {
    padding: 2em 0;
}

#development-process {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dev-image-container {
    padding: 1rem;
}

.dev-image {
    height: 70px;
}

figcaption {
    max-width: 10rem;
    line-height: 1.5;
}


/* Project Section */

#projects-section {
    text-align: center;
}

#projects-section h2 {
    margin: 1em 0;
}

#projects {
    display: flex;
    background-color: #363062;
    border-radius: 20px;
    justify-content: space-between;
}

.project-card {
    width: 30%;
    height: 500px;
    overflow: hidden;
    margin: 1rem;
    border-radius: 10px;
    transition-property: width;
    transition-duration: 1s;
}

.project-card img {
    height: 500px;
    border-radius: 10px;
}

@media only screen and (min-width: 831px) {
    .project-card:hover {
        width: 120rem;
        transition-property: width;
        transition-duration: 1s;
    }
}

@media only screen and (max-width: 830px) {
    #projects {
        flex-direction: column;
    }

    .project-card {
        width: auto;
        height: auto;
    }

    .project-card img {
        max-width: 100%;
        height: auto;
        display: block;
    }

}

/* Skill-Set section */

#skill-section {
    text-align: center;
}

#skill-card-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 5rem 0;
}

.skill-card {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skill-card img {
    height: 3rem;
}

/* 
*
*
*
Contact Page
*
*
*
*/


#contact-page {
    margin-top: 30px;
}

#contact-form {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

#contact-form .input-field {
    font: inherit;
    background-color: #f5f5f5;
    padding: 1rem 0rem;
    margin: 3rem 0;
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid #000;
    transition: padding-bottom .4s linear;
}

#contact-form .input-field:hover {
    padding-bottom: 1.2rem;
    transition: padding-bottom .4s linear;
}

#submit-button {
    width: 8rem;
    height: 3rem;
    align-self: flex-end;
    border: 2px solid #f99417;
    border-radius: 1rem;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    color: black;
    background-image: linear-gradient(#f99417, #f99417), linear-gradient(#f5f5f5, #f5f5f5);
    background-size: 100% 100%, 100% 100%;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat, no-repeat;
    transition: background-size .4s linear;
}

#submit-button:hover {
    background-size: 0 100%, 100% 100%
}

/* Info Section */

#info-card {
    background-color: #f99417;
    position: absolute;
    right: 0;
    top: 35%;
    width: 40%;
    height: fit-content;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
}

#info-card h2 {
    margin: 1rem 2rem;
}

.info {
    font-size: 18px;
    display: inline-flex;
    width: auto;
    align-content: center;
    align-items: center;
    margin: 1rem 2rem;
}

.info img {
    height: 35px;
    margin-right: 1rem;
}

@media only screen and (max-width: 830px) {
    #contact-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    #contact-form {
        width: 100%;
    }

    #contact-page aside {
        width: 80%;
    }


    #info-card {
        position: relative;
        margin: 5rem auto;
        text-align: center;
        align-items: center;
        width: 100%;
    }
}

@media only screen and (max-width: 375px) {
    .info p {
        font-size: 16px;
    }

    #info-card {
        width: 100%;
    }

    #contact-page aside {
        width: 100%;
    }
}

/* Footer */
footer {
    height: 100px;
    background-color: #363062;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 2rem 2rem 2rem;
}

footer img {
    height: 50px;
}

@media only screen and (max-width: 830px) {
    footer {
        margin: 10rem auto 2rem;
        width: 90%;
    }
}