@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500;600;700;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,400&display=swap');

/* Universal Styles */
* {
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(farthest-corner circle at 0 0, #FFFFFF 0.0%, #343434 40.0%);
}

section {
    padding: 0 20px;
}

main h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: helvetica, sans-serif;
    padding-bottom: 2rem;
}

h1 {
    font-size: 100px;
    font-weight: 700;
}

h2 {
    font-size: 34px;
    font-weight: 200;
}

h3 {
    font-size: 28px;
    font-weight: 200;
}

h4 {
    font-size: 25px;
    font-weight: 200;
}

h5 {
    font-size: 22px;
    font-weight: 200;
}

h6 {
    font-size: 20px;
    font-weight: 200;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

a {
    font-family: 'Quicksand', sans-serif;
}

/* Template */

section.color {
    margin-top: 2rem;
}

#color-card-container {
    display: flex;
}

.color-card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 3rem 2rem;
    border-radius: 20px;
    text-align: center;
    border: 1px solid black;
    margin: 1rem;
}

#whitesmoke {
    background-color: #f5f5f5;
}

#grey63 {
    background-color: #a1a1a1;
}

#darkgray {
    background-color: #343434;
    color: #f5f5f5;
}

#red {
    background-color: #ae3232;
}

#blue {
    background-color: #325cae;
}



/* Navigation */

nav {
    margin: 20px;
    background-color: #000;
    display: flex;
    align-items: center;
    height: 80px;
    border-radius: 20px;
    padding: 0 30px 0 5px;
}

nav img {
    height: 80px;
    margin-top: 4px;
}

nav a {
    color: #f5f5f5;
    font-size: 20px;
    font-weight: 600;
}

#nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#nav-list a {
    align-content: center;
    padding: 10px 15px;
}

#contact {
    background-color: #f5f5f5;
    color: #000;
    border-radius: 10px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 35px;
    height: 4px;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 650px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    nav {
        justify-content: space-between;
        width: 90%;
        margin: 20px auto;
    }

    #nav-list {
        position: fixed;
        left: -100%;
        top: 7rem;
        flex-direction: column;
        background-color: #000;
        border-radius: 20px;
        width: 90%;
        margin: 0 5%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px #343434;
    }

    #nav-list.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
    }
}

/* Header */

#introduction {
    display: flex;
    flex-direction: column;
    margin: 130px 130px;
}

#introduction h2 {
    padding: 0;
    text-align: right;
}

#introduction p {
    width: 50%;
    margin-left: 25px;
}

@media only screen and (max-width: 1000px) {
    header {
        max-width: 800px;
    }

    #introduction h2 {
        margin-bottom: 50px;
    }

    #introduction p {
        width: 100%;
        max-width: 500px;
    }
}

@media only screen and (max-width: 650px) {
    #introduction {
        justify-content: center;
        align-items: center;
        margin: 130px 20px
    }

    #introduction h1 {
        font-size: 90px;
    }

    #name {
        width: fit-content;
        left: 20px;
    }

    #introduction h2 {
        text-align: center;
    }

    #introduction p {
        margin-left: 0;
    }
}

/* School and Focus */
#schoolandfocus {
    display: flex;
    justify-content: space-evenly;
    margin: 300px 0;
}

.white-card {
    background-color: rgba(245, 245, 245, .5);
    border-radius: 15px;
    padding: 1rem 2rem;
    display: flex;
}

#codecademy {
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin-right: 30px;
}

#codecademy .img-container {
    height: 60px;
    overflow: hidden;
}

#codecadmey img {
    max-width: 100%;
    height: auto;
    display: block;
}

#codecademy p {
    margin: 20px 0 20px 40px;
}

#focus {
    flex-basis: 620px;
    align-content: space-between;
    height: 100%;
}

#close-work,
#contact-whenever {
    min-height: 100px;
}

#close-work {
    margin-bottom: 30px;
}

#focus img {
    max-width: 100%;
    height: 40px;
    display: block;
    margin: auto 20px auto 0;
}

#focus p {
    align-self: center;
}

@media only screen and (max-width: 1000px) {
    #schoolandfocus {
        flex-direction: column;
        margin-bottom: 200px;
    }

    #codecademy {
        margin: 0 auto;
        width: none;
        max-width: 500px;
    }

    #focus {
        margin: 100px auto;
        max-width: 500px;
        flex-basis: 0;
    }

}


/* Service Section */

.black-card {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 15px;
    padding: 1rem 2rem;
    display: flex;
    color: #f5f5f5;
}

#services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    margin: 200px 0;
}

#specalize {
    line-height: 2;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    color: #f5f5f5;
}

#specalize h2 {
    padding: 0;
}

#existing-website {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-self: end;
    margin-top: 20px;
}

#new-website {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    align-self: end;
    text-align: right;
    margin-bottom: 20px;
}

#existing-website,
#new-website {
    color: #f5f5f5;
    max-width: 470px;
    height: 100px;
    align-items: center;
}

#existing-website img,
#new-website img {
    height: 40px;
    margin: 10px;
}

/* Development process */

#development h2 {
    color: #F5F5F5;
    margin-bottom: 150px;
}

#development-process {
    display: flex;
    justify-content: space-around;
}

.development-card {
    text-align: center;
    width: 135px;
}

.development-card h3 {
    color: #f5f5f5;
    font-size: 18px;
}

.development-card p {
    font-size: 16px;
    text-align: center;
    padding: .5rem .5rem;
}

.development-card img {
    margin-bottom: 20px;
}

.development-card .img-container {
    height: 120px;
}

@media only screen and (max-width: 1000px) {
    #services {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr;
    }

    #specalize {
        text-align: center;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        place-self: center;
    }

    #existing-website {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        place-self: center;
    }

    #new-website {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        place-self: center;
    }

    #development h2 {
        text-align: center;
    }

    #development-process {
        flex-direction: column;
        align-items: center;
    }

    .development-card {
        margin-bottom: 150px;
    }
}



/* Project Section */

section#projects {
    background-image: linear-gradient(transparent, #F5F5F5);
    padding-top: 170px;
}

#projects h2 {
    color: #f5f5f5;
    margin-bottom: 100px;
}

#project-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    margin: 1rem;
    width: 45%;
    min-width: 350px;
}

.project-card img {
    width: 100%;
}

@media only screen and (max-width: 430px) {}

/* About Me */

section#about-me {
    padding-top: 150px;
    background-color: #f5f5f5;
}

#about-me h2 {
    margin-bottom: 60px;
}

#about-me-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

#about-me .text-field {
    grid-column: 1 / span 1;
    align-content: space-between;
    display: flex;
    flex-direction: column;
}

#about-me .img-container {
    overflow: hidden;
    grid-column: 2 / span 1;
}

#personal-photo {
    max-width: 100%;
    height: auto;
    display: block;
}

#signature {
    position: relative;
    right: 0px;
}

.text-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
    #about-me-content {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }

    #about-me .text-field {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    #about-me .img-container {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
}

/* Contact section */

#contact-section {
    background-color: #F5F5F5;
    text-align: center;
    padding: 150px 0 100px 0;
}

.contact-info {
    margin: 20px 0;
}

footer {
    background-color: #343434;
    text-align: center;
}

footer img {
    height: 100px;
}